{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default" style="width: 100%">
                <div class="panel-body">
                    <h1 class="text-center" style="color: #FE980F">Password Change</h1>
                    {{ form_start(change_password_form) }}
                    {{ form_widget(change_password_form) }}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" value="Change">Change</button>
                    </div>
                    {{ form_end(change_password_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

